<!DOCTYPE html>
<html>
<head>
  <title>Sitra</title>
  <%= stylesheet_link_tag    'admin/application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'admin/application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- NAVIGATION -->
		<section>
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="menu">
						<nav class="navbar navbar-default">
							<div class="container">
								<!-- Brand and toggle get grouped for better mobile display -->
								<div class="navbar-header">
									<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
										<span class="sr-only">Toggle navigation</span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
									</button>
									<a class="navbar-brand" <%= link_to "Posts", admin_posts_path %> ><i class="fa fa-skyatlas"></i> Si<span>Tra</span></a>
								</div>

								<!-- Collect the nav links, forms, and other content for toggling -->
								<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
									<ul class="nav navbar-nav navbar-right">
										<li class="<%= params[:controller] == 'admin/posts' ? 'active' : '' %>"><%= link_to "Posts", admin_posts_path %> </li>
										<li class="<%= params[:controller] == 'admin/categories' ? 'active' : '' %>"><%= link_to "Categories", admin_categories_path %></li>
										<li class="<%= params[:controller] == 'admin/users' ? 'active' : '' %>"><%= link_to "Users", admin_users_path %></li>
										
									</ul>
								</div> <!-- navbar-collapse -->
							</div> <!-- container-fluid -->
						</nav>
					</div>
				</div>
			</div>
		</section>
		<!-- END NAVIGATION -->
		<!--posts-->
        <div class="container">
	        <div class="row">
			<div class="col-md-12">
			<div id="user_nav" class="pull-right">
			    <% if current_user %>
			       	Logged in as <%= current_user.email %>
			       	<%= link_to "log out", admin_logout_path %>
			    <% else %>
			    	<%= link_to "log in", admin_login_path %>
			    <% end %>
            </div>
				<%= render 'layouts/flash_message' %>
				<%= yield %>
			</div> 	
	        </div>
        </div>
		<!--end-->
		<!-- TOP FOOTER -->
		<section class="top-footer">
			<div class="container">
				<div class="row">
					<div class="col-md-3">
						<div class="media">
							<div class="media-left"><a href="#"><i class="fa fa-home"></i></a></div>
							<div class="media-body">
								<h5 class="media-heading">Address</h5>
								<p>Lebel 2, 13 Elezabe St, Melbounire, Victoria 3000 </p>
							</div>
						</div>
					</div>
					<div class="col-md-3"> 
                    <div class="media">
							<div class="media-left">
								<a href="#"><i class="fa fa-envelope-o"></i></a>
							</div>
							<div class="media-body">
								<h5 class="media-heading">Having any questions?</h5>
								<p>support@settletheme.com</p>
							</div>
						</div>
                    </div>
						
					<div class="col-md-3">
						<div class="media">
							<div class="media-left">
								<a href="#"><i class="fa fa-phone"></i></a>
							</div>
							<div class="media-body">
								<h5 class="media-heading">Call us & Hair us</h5>
								<p>+61(0)7 9180 3458</p>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="media">
							<div class="media-left">
								<a href="#"><i class="fa fa-phone"></i></a>
							</div>
							<div class="media-body">
								Sitra Consultancy Firm | <%= link_to 'frontend', root_path, target: '_blank' %>
							</div>
						</div>
			</div>
		</section>
		<!-- END TOP FOOTER -->
	
		<!-- BOTTOM FOOTER -->
		<section class="bottom-footer">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						Copyrights 2016 All Reseved by <a href="sitra.co.ke">Sitra.co.ke</a>
					</div>
					<div class="col-md-6 text-right">
						<a href="#">Terms of use</a>
						<a href="#">Privacy & Security Statement</a>
					</div>
				</div>
			</div>
		</section>
		<!-- END BOTTOM FOOTER -->
</body>
</html>