<!-- HOME -->
		<section class="home">
			<div class="bs-carousel">
				<div id="my-carousel" class="carousel slide" data-ride="carousel">
					<!-- Wrapper for slides -->
					<div class="carousel-inner" role="listbox">
						<div class="item active">
							<div class="container">
								<div class="row">
									<div class="col-md-7 col-md-offset-5">
										<h1>Welcome to <span>Sitra Research solutions Ltd</span>, We give the best consultaitons</p>					
										<div><a href="aboutus.html" class="btn btn-group-lg active">Read About Us</a></div>
									</div>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="container">
								<div class="row">
									<div class="col-md-7 col-md-offset-5">
										<h1>We also help in all kinds of research in social and business</p>					
										<div><a href="aboutus.html" class="btn btn-primary active">Read About Us</a></div>
									</div>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="container">
								<div class="row">
									<div class="col-md-7 col-md-offset-5">
										<h1>We also helps in ICT issues from small offices to enterprises</p>					
										<div><a href="aboutus.html" class="btn btn-primary active">Read About Us</a></div>
									</div>
								</div>
							</div>
						</div>
					</div>	
					
				</div> <!-- END CAROUSEL -->
				<!-- Controls -->
				<a class="arrow arrow-left" href="#my-carousel" role="button" data-slide="prev">
					<span><i class="fa fa-caret-left"></i></span>
				</a>
				<a class="arrow arrow-right" href="#my-carousel" role="button" data-slide="next">
					<span><i class="fa fa-caret-right"></i></span>
				</a>
			</div>
		</section>
		<!-- END HOME -->
	    <!-- NEWS -->
		<section class="news">
			<div class="container">
				<div class="row">
					<div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 text-center">
						<h1>Stay Update for Our Articles</h1><div class="border center-block"></div>
					</div>
				</div>	
			</div>	

        <div class="item">
		    <div class="container">
				<%if @posts.exists? %>
					<% @posts.each_slice(3) do |post| %>
					<div class="row">
						<% @posts.each do |post| %>
						<div class="col-md-4 col-sm-6">
							<div class="post">
								<div class="news-thumb">
									<%= image_tag post.image.url, width: '100%'%>
									<div class="news-overlay"><i class="fa fa-link"></i></div>
								</div>	
								<div class="post-content">
									<h4 class="media-heading"><%= post.title %></h4>
									<small>post by <%= post.user.name %> on <%= post.created_at.to_time.strftime('%B %e at %l: %M %p') %></small>
									<%= raw post.body.truncate(200) %>
									<%= link_to 'Read More', post_path(post), class: 'btn btn-primary' %>
							 	</div>
							  </div>
						    </div>
						   <% end %>
						  </div>
						  <% end %>
						<% else %>
						<p> the is no post</p>
					<% end %>
			</div>
	     </div><!---->
		</section>
		<!-- END NEWS -->
		<!-- HIGHLIGHT -->
		<section class="highlight">
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-sm-12">
						<div class="highlight-text center-block">
							<h1>Sitra is an <span>effortlessly</span>, authentic handcrapted design that suitable for any bussiness</h1>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- END HIGHTLIGHT -->
		<!-- FEATURE PROJECT -->
		<section class="feature-project">
			<div class="container">
				<div class="row">
					<div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 text-center">
						<h1>Our portfolio</h1><div class="border center-block"></div>
						<p class="tagline">We love giving you the best. This are some of the training and facilitations we have done</p>
					</div>
				</div>	
			</div>	
			
			<div id="feature-project" class="carousel slide" data-ride="carousel">
				<ol class="carousel-indicators">
						<li data-target="#feature-project" data-slide-to="0" class="active"><button class="btn btn-primary"><i class="fa fa-arrow-left"></i></button></li>
						<li data-target="#feature-project" data-slide-to="1"><button class="btn btn-primary"><i class="fa fa-arrow-right"></i></button></li>
					</ol>	
				<div class="carousel-inner" role="listbox">
					<div class="item active">
						<div class="container-fluid">
							<div class="row p-y-0">
								<div class="col-md-3 col-sm-6 p-x-0 ">
									<div class="project-img"> 
										<%= image_tag('news-1.png') %>
										<div class="project-overlay">
											<div><i class="fa fa-link"></i><i class="fa fa-search"></i></div>
										
										</div>
									</div>
								</div>
								<div class="col-md-3 col-sm-6 p-x-0">
									<div class="project-img"> 
										<%= image_tag('news-2.png') %>
										<div class="project-overlay">
											<div><i class="fa fa-link"></i><i class="fa fa-search"></i></div>
										</div>
									</div>
								</div>
								<div class="col-md-3 col-sm-6 p-x-0">
									<div class="project-img"> 
										<%= image_tag('news-3.png') %>
										<div class="project-overlay">
											<div><i class="fa fa-link"></i><i class="fa fa-search"></i></div>
											
										</div>
									</div>
								</div>
								<div class="col-md-3 col-sm-6 p-x-0">
									<div class="project-img"> 
										<%= image_tag('news-4.png') %>
										<div class="project-overlay">
											<div><i class="fa fa-link"></i><i class="fa fa-search"></i></div>
											
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- END FEATURE PROJECT -->
		<!-- SUPPORTER -->
		<section class="supporter">
			<div class="container">
				<div class="row">
					<div class="col-md-10 col-md-offset-1">
						<div id="supporter-showcase" class="carousel slide" data-ride="carousel">
							<ol class="carousel-indicators">
								<li data-target="#supporter-showcase" data-slide-to="0" class="active"></li>
								<li data-target="#supporter-showcase" data-slide-to="1"></li>
								
							</ol>
							<div class="carousel-inner text-center" role="listbox">
								<div class="item active">
								<div class="supporter-name">Mission</div>
									<p>Influencing a great future together, Inspired leaderships andSuperb services</p>
								</div>
								<div class="item">
									<div class="supporter-name">Vission</div>
									<p>To be An outstanding organization, Brilliant people and Workplace of choice</p>
								</div>
								<a class="carousel-slide prev-slide" href="#supporter-showcase" role="button" data-slide="prev">
									<span><i class="fa fa-angle-left"></i></span>
								</a>
								<a class="carousel-slide next-slide" href="#supporter-showcase" role="button" data-slide="next">
									<span><i class="fa fa-angle-right"></i></span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- END SUPPORTER -->
