<!--About the firm-->
        <section class="team">
        <div class="container">
				<div class="row">
					<div class="col-md-10 col-md-offset-1 col-md-10 col-sm-offset-1 text-center">
						<h1>Sitra Consultancy Firm</h1><div class="border center-block"></div>
						<p class="tagline">Sitra consultancy is a Business Development based social services consultancy firm that was established in the year 2014 by a group of Kenyan and Somalia professionals who had a motivation to develop the institutional capacity of public and private entities in the horn of Africa.Sitra is registered both in Kenya and Somalia. Sitra has been engaged in providing comprehensive social amenities and enterprise consultancy services. Through our unique Franchise and widespread network of agents across multiple locations in the Horn of Africa, we cater to the needs of clients across the region. We create a platform for the business community, education institution, hiring companies, and job seekers for the fulfillment of their requirements efficiently. Further, the success of our company can be defined by the regular job placement and internship of graduates from different institutions.</p>
						<h1>Our Consultancy Services Includes: what do we do</h1>
						<ul style="text-align: left;">
							<li>Accounting packages training </li>
							<li>Institutional capacity building and restructuring programs </li>
							<li>Business profile plan</li>
							<li>NGO/grant proposal writing </li>
							<li>Book keeping/accounting </li>
							<li>Tendering process documents & company registration services </li>
							<li>Institutional standard operating procedures and policies developments (SOP)</li>
							<li>Career Guidance and counseling services </li>
							<li>Research services (baseline surveys, need assessments)</li>
							<li>Educational policies, frameworks and Curriculum review</li>
							<li>Investment and Enterprise business needs Analysis Consultant</li>
							<li>Youth empowerment, leadership and programs for local governance services</li>
							<li>Technical writings; academic research writings, thesis and Projects  </li>
							<li>Job Placements and resume development both National and International Level.</li>
						</ul>
					</div>
				</div>	
			</div>
        	
        </section>
        <!--end-->
		<!-- TEAM -->
		<section class="team">
			<div class="container">
				<div class="row">
					<div class="col-md-10 col-md-offset-1 col-md-10 col-sm-offset-1 text-center">
						<h1>Meet Our Team</h1><div class="border center-block"></div>
						<p class="tagline">We love to help our clients with our latest  technologies and techniques to conduct research and consult nicely</p>
					</div>
				</div>	
			</div>	
			<div class="container">
				<div class="row">
					<div class="col-md-3 col-sm-6 ">
						<div class="thumbnail">
							<div class="team-img">
								<%= image_tag('user.png') %>
								<div class="team-overlay"><i class="fa fa-envelope-o"></i></div>
							</div>
							<div class="caption">
								<h4>Abdi Farah Abdikadir</h4>
								<span>Ceo & Project Menager</span>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 ">
						<div class="thumbnail">
							<div class="team-img">
								<%= image_tag('user.png') %>
								<div class="team-overlay"><i class="fa fa-envelope-o"></i></div>
							</div>
							<div class="caption">
								<h4>Ahmed Abdirahman</h4>
								<span>ICT Director</span>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="thumbnail">
							<div class="team-img">
								<%= image_tag('user.png') %>
								<div class="team-overlay"><i class="fa fa-envelope-o"></i></div>
							</div>
							<div class="caption">
								<h4></h4>
								<span></span>
								
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="thumbnail">
							<div class="team-img">
								<%= image_tag('user.png') %>
								<div class="team-overlay"><i class="fa fa-envelope-o"></i></div>
							</div>
							<div class="caption">
								<h4></h4>
								<span></span>
								<p></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- END TEAM -->>
